/* Add these styles to your existing CSS file */

.doctor-profile-page1 {
    background-color: #fff;
    /* Set background color if needed */
    padding: 20px;
}

.profile-image1 img {
    width: 100%;
    height: auto;
}

.text-content1 {
    margin-top: 20px;
}

.text-content1 p {
    margin-bottom: 10px;
}

/* Optional: Add additional styling for better visual appeal */

.doctor-profile-page1 h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.doctor-info1 {
    display: flex;
    flex-direction: column;
    /* Display the information in a vertical layout */
    align-items: center;
    /* Center the content horizontally */
    text-align: center;
    /* Center the text */
}

/* Adjust spacing between image and details based on your preference */
.profile-image1 {
    margin-bottom: 20px;
}